
<div class="center hero-unit">
  <h1>Formal language interpreter</h1>
  <%= link_to "Parse text file", parse_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Upload new file", :root, class: "btn btn-large btn-primary" %>
</div>
